table tr.custom_style_fields {
  display: none;
}

.show_field {
  display: table-row !important;
}

div#wpbody-content form {
  background: var(--omb-white);
  padding: 0 20px 0 20px;
  margin-right: 20px;
  margin-top: 20px;
}
div#wpbody-content form .omb-title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--omb-black), 0.09);
}
