// Prefix for :root CSS variables
$variable-prefix: omb- !default;

// colors-variables
$white: #fff !default;
$primary-color: #6f73d2 !default;
$light-gray: #b8b8b8 !default;
$light-gray-1: #f6f6f6 !default;
$light-gray-2: #dddddd !default;
$dark-gray: #666666 !default;
$black: #000 !default;

// colors-map
$colors: (
  "white": $white,
  "primary-color": $primary-color,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray,
  "light-gray-1": $light-gray-1,
  "light-gray-2": $light-gray-2,
  "black": $black,
) !default;
