progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &.my_progressbar {
    position: fixed;
    appearance: none;
    border: none;
    z-index: 1000;
    width: 100% !important;
  }
  &.rounded {
    border-radius: 50px;
    &::-webkit-progress-value {
      border-radius: 50px;
    }
  }
  &.normal {
    border-radius: 0;
    &::-webkit-progress-value {
      border-radius: 0;
    }
  }
}
